body {
    background-color: #FFFFFF;
}


h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* .container {
    width: 1338px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
} */


@media screen and (max-width: 574px) {
.container {
    width: 100%;
    max-width: 290px;
    padding: 0 15px;
    margin: 0 auto;
    }
}

@media screen  and (min-width: 575px) and (max-width: 767px) {
     .container {
        width: 100%;
        padding-left: 33px;
        padding-right: 32px;   
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 768px;
        padding: 0 39px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 1338px;
        padding-left: 32px;
        padding-right: 31px;
        margin: 0 auto;
    }
}

/* ==================== Header ===================== */

@media screen and (max-width: 574px) {

.menu {
    display: none;
}

.header-button {
    display: none;
}

.page-header {
    padding: 36px 0;
}

.logo {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
}

.logo-lex {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(147, 147, 147, 1);
}

.page-header-contaniar {
    width: 574px;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {
   
.menu {
        display: none;
    }

    .header-button {
        display: none;
    }

        .page-header {
            padding-top: 39px;
            padding-bottom: 11px;
        }

            .logo {
                font-weight: 400;
                font-size: 30px;
                line-height: 1.5;
                color: rgba(0, 0, 0, 1);
            }
        
                .logo-lex {
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 1.5;
                    color: rgba(147, 147, 147, 1);
                }
        
                    .page-header-contaniar {
                        max-width: 767px;
                        display: flex;
                        justify-content: space-between;
                    }
        
                        .mobile-menu-open {
                            border: none;
                            background-color: transparent;
                            padding: 0;
                            line-height: 0;
                        }

}


@media screen and (min-width: 768px) and (max-width: 991px) {

.page-header {
        padding-top: 39px;
        padding-bottom: 68px;
    }

.menu {
    display: none;
}

.header-button {
    display: none;
}

.logo {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
}

.logo-lex {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    color: rgba(147, 147, 147, 1);
}

.page-header-contaniar {
    max-width: 991px;
    display: flex;
    justify-content: space-between;
}

.mobile-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}}


@media screen and (min-width: 992px) {

.mobile-menu-open {
    display: none;
}

.page-header {
    padding: 55px 0;
}

.logo {
    margin-right: 236px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
}

.logo-lex {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: rgba(147, 147, 147, 1);
}

.nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #263238;
}

.header-button:focus,
.header-button:hover {
    color: #ffffff;
    background-color: #E5E5E5;
    border: transparent;
}

.header-button {
    width: 312px;
    height: 70px;
    padding: 20px 56px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}

.page-header-contaniar {
    display: flex;
    
}

.page-nav {
    display: flex;
    align-items: center;
}

.nav-link:focus,
.nav-link:hover {
    color: #8F95A5;
}

.nav-link {
    padding: 20px 0;
}

.menu {
    display: flex;
    gap: 50px;
}

.header-button {
    margin-left: auto;
}}

/* ==================== /Header ===================== */

/* ======================= Hero ==================== */

@media screen and (max-width: 574px) {

.hero-content {
    display: flex;
    flex-direction: column-reverse;  
}

.hero-img {
    width: 100%;
    height: auto;
}

.lamp-hero {
    display: none;
}

.word-wrap {
    display: none;
}

.title-hero {
    margin-top: 42px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #000000;
}

.text-hero {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #8F95A5;
}

.button-hero:focus,
.button-hero:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.button-hero {
    width: 100%;
    height: auto;
    padding: 18px 79px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {

.hero {
        padding-bottom: 96px;
    }

        .hero-content {
            display: flex;
            flex-direction: column-reverse;
        }

            .lamp-hero {
                display: none;
            }
        
                .word-wrap {
                    display: none;
                }

        .title-hero {
            text-align: center;
            font-weight: 600;
            font-size: 34px;
            line-height: 1.32;
            color: #000000;
            margin-top: 55px;
            margin-bottom: 26px;
        }
                .text-hero {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #8F95A5;
                    margin-bottom: 37px;
                }
                        .button-hero:focus,
                        .button-hero:hover {
                            color: #263238;
                            background-color: #FFFFFF;
                        }
                
                            .btn-centre {
                                display: flex;
                                justify-content: center;
                            }
                        
                        
                                .button-hero {
                                    width: 305px;
                                    height: 75px;
                                    padding: 24px 100px;
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 1.5;
                                    text-align: center;
                                    color: #FFFFFF;
                                    background-color: #263238;
                                    border: 2px solid #263238;
                                    border-radius: 10px;
                                    cursor: pointer;
                                }

}


@media screen and (min-width: 768px) and (max-width: 991px) {

.hero {
    padding-bottom: 56px;
    }

.title-hero {
    width: 217px;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 25px;
}

.word-wrap-2 {
    display: none;
}

.text-hero {
    width: 338px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #8F95A5;
    margin-bottom: 32px;
    margin-right: 22px;
}

.button-hero:focus,
.button-hero:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.button-hero {
    width: 236px;
    height: 65px;
    padding: 19px 67px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}

.hero-img {
    width: 362px;
    height: 312px;
}

.title-lamp {
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
}}


@media screen and (min-width: 992px) {

 .hero {
    padding-top: 55px;
    padding-bottom: 180px;
}

.hero-img {
    width: 100%;
    height: auto;
}

.title-hero {
    width: 386px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 40px;
}

.word-wrap-2 {
    display: none;
}

.text-hero {
    width: 540px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #8F95A5;
    margin-bottom: 60px;
    margin-right: 144px;
}

.button-hero:focus,
.button-hero:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.button-hero {
    width: 426px;
    height: 100px;
    padding: 23px 64px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}

.title-lamp {
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
}}

/* ======================= /Hero ==================== */

/* ====================== Skills =================== */

@media screen and (max-width: 574px) {

.skills-list-desk {
        display: none;
    }

.skills {
    padding: 50px 0;
}

.title-section {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    color: #000000;
}

.skills-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 4.44;
    color: #263238;
}

.text-skills {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #8F95A5;
}

.skills-btn:focus,
.skills-btn:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.skills-btn {
    padding-left: 16px;
    width: 178px;
    height: 50px;
    padding: 14px 43px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}

.skills-content {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.img-skills {
    padding-left: 21px;
    padding-right: 39px;
    width: 100%;
    height: auto;
}

.skills-link-speaking {
    margin-bottom: 21px;
    width: 290px;
    height: 600px;
    padding-left: 16px;
    white-space: pre-line;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.skills-link-writing {
    margin-bottom: 21px;
    width: 290px;
    height: 473px;
    padding-left: 16px;
    white-space: pre-line;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.skills-link-reading {
    margin-bottom: 21px;
    width: 290px;
    height: 473px;
    padding-left: 16px;
    white-space: pre-line;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.skills-link-listening {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 290px;
    height: 473px;
    padding-left: 16px;
    white-space: pre-line;
    border-radius: 10px;
    background-color: #F5F5F5;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {

.skills-list-desk {
    display: none;
}

.skills {
        padding-bottom: 84px;
    }

        .title-section {
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 2.66;
            color: #000000;
            margin-bottom: 18px;
        }

            .skills-title {
                font-weight: 600;
                font-size: 18px;
                line-height: 4.44;
                color: #263238;
            }

                .text-skills {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1.5;
                    color: #8F95A5;
                }

                    .skills-btn:focus,
                    .skills-btn:hover {
                        color: #263238;
                        background-color: #FFFFFF;
                    }
                
                        .skills-btn {
                            padding-left: 15px;
                            width: 200px;
                            height: 50px;
                            padding: 14px 54px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 1.5;
                            text-align: center;
                            color: #FFFFFF;
                            background-color: #263238;
                            border: 2px solid #263238;
                            border-radius: 10px;
                            cursor: pointer;
                        }

                            .skills-list {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                flex-wrap: wrap;
                                row-gap: 34px;
                                column-gap: 30px;
                            }

                            /* .skills-list {
                                flex-basis: calc((100% - 30px) / 2);
                            } */
                        
                                .img-skills {
                                    padding-top: 5px;
                                    padding-left: 23px;
                                    padding-right: 35px;
                                    width: 100%;
                                    height: auto;
                                }

                                    .skills-link-speaking {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        justify-content: space-evenly;
                                        width: 240px;
                                        height: 534px;
                                        padding-left: 16px;
                                        /* white-space: pre-line; */
                                        border-radius: 10px;
                                        background-color: #F5F5F5;
                                    }
                                
                                        .skills-link-writing {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: flex-start;
                                            justify-content: space-around;
                                            width: 240px;
                                            height: 534px;
                                            padding-left: 16px;
                                            /* white-space: pre-line; */
                                            border-radius: 10px;
                                            background-color: #F5F5F5;
                                        }
                                
                                            .skills-link-reading {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: flex-start;
                                                justify-content: space-around;
                                                width: 240px;
                                                height: 534px;
                                                padding-left: 16px;
                                                /* white-space: pre-line; */
                                                border-radius: 10px;
                                                background-color: #F5F5F5;
                                            }
                                
                                                .skills-link-listening {
                                                    display: flex;
                                                    flex-direction: column-reverse;
                                                    justify-content: space-around;
                                                    width: 240px;
                                                    height: 534px;
                                                    padding-left: 16px;
                                                    /* white-space: pre-line; */
                                                    border-radius: 10px;
                                                    background-color: #F5F5F5;
                                                }

}




@media screen and (min-width: 768px) and (max-width: 991px) {

.skills-list {
    display: none;
}

.skills {
        padding-bottom: 52px;
    }

    .title-section {
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        line-height: 2.66;
        color: #000000;
        margin-bottom: 60px;
    }

    .img-skills-desk {
        width: 200px;
        height: 150px;
        /* width: 100%;
        height: auto; */
    }

    .skills-title-desk {
        font-weight: 600;
        font-size: 20px;
        line-height: 4;
        color: #263238;
        /* margin-bottom: 20px; */
    }

    .text-skills-desk {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.53;
        color: #8F95A5;
        /* margin-bottom: 30px; */
    }

    .skills-btn-desk:focus,
    .skills-btn-desk:hover {
        color: #263238;
        background-color: #FFFFFF;
    }

    .skills-btn-desk {
        width: 178px;
        height: 50px;
        padding: 14px 43px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #FFFFFF;
        background-color: #263238;
        border: 2px solid #263238;
        border-radius: 10px;
        cursor: pointer;
    }

    .skills-list-desk {
        display: flex;
        column-gap: 10px;
    }

    .skills-link-speaking-desk {
        width: 224px;
        height: 662px;
        padding-left: 16px;
        white-space: pre-line;
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .skills-link-writing-desk {
        width: 224px;
        height: 442px;
        /* white-space: pre-line; */
        padding-left: 16px;
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .skills-link-reading-desk {
        width: 224px;
        height: 442px;
        /* white-space: pre-line; */
        padding-left: 16px;
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .skills-link-listening-desk {
        display: flex;
        align-items: center;
        width: 462px;
        height: 210px;
        /* white-space: pre-line; */
        padding: 0 18px;
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .link-group-desk {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }}


@media screen and (min-width: 992px) {

.skills-list {
    display: none;
}

.skills {
    padding-bottom: 180px;
}

.title-section {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 60px;
}

.img-skills-desk {
    padding-left: 30px;
    width: 360px;
    height: auto;
}

.skills-title-desk {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    color: #263238;
    margin-bottom: 20px;
}

.text-skills-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #8F95A5;
    margin-bottom: 30px;
}

.skills-btn-desk:focus,
.skills-btn-desk:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.skills-btn-desk {
    width: 218px;
    height: 60px;
    padding: 15px 52px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}

.skills-list-desk {
    display: flex;
    gap: 30px;
}

.skills-link-speaking-desk {
    width: 426px;
    height: 947px;
    padding-left: 18px;
    white-space: pre-line;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.skills-link-writing-desk {
    width: 426px;
    height: 579px;
    white-space: pre-line;
    padding-left: 18px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.skills-link-reading-desk {
    width: 426px;
    height: 579px;
    white-space: pre-line;
    padding-left: 18px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.skills-link-listening-desk {
    display: flex;
    align-items: center;
    width: 882px;
    height: 338px;
    white-space: pre-line;
    padding: 0 18px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.link-group-desk {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}}


/* ====================== /Skills =================== */

/* ===================== About Us ================== */

@media screen and (max-width: 574px) {

.about-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.title-about {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    color: #000000;
    margin-bottom: 24px;
}

.img-about {
    width: 100%;
    height: auto;
}

.text-about {
    text-align: center;
    font-size: 13px;
    line-height: 1.5;
    color: #8F95A5;
    margin-top: 42px;
}

.title-about-numbers {
    margin-bottom: -20px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    color: #000000;
}

.about-text {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: #8F95A5;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {

.about-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
        .title-about {
            text-align: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 2.66;
            color: #000000;
            margin-bottom: 23px;
        }

            .img-about {
                width: 100%;
                height: auto;
            }

                .text-about {
                    text-align: center;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #8F95A5;
                    margin-top: 49px;
                    margin-bottom: 21px;
                }

                    .about-desc {
                        display: flex;
                        justify-content: center;
                        gap: 120px;
                        text-align: center;
                    }

                        .title-about-numbers {
                            margin-bottom: -20px;
                            text-align: center;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 3.33;
                            color: #000000;
                        }

                            .about-text {
                                text-align: center;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 1.5;
                                color: #8F95A5;
                            }
}



@media screen and (min-width: 768px) and (max-width: 991px) {

.title-about {
        font-weight: 600;
        font-size: 36px;
        line-height: 2.22;
        color: #000000;
        margin-bottom: 13px;
    }

    .text-about {
        width: 325px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #8F95A5;
        margin-bottom: 8px;
        margin-right: 78px;
    }

    .about-desc {
        display: flex;
        gap: 55px;
        text-align: center;
        /* padding-left: 50px; */
    }

    .about-text {
        margin-top: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #8F95A5;
    }

    .about-desc {
        display: flex;
    }

    .about-reverse {
        display: flex;
        align-items: flex-start;
    }

    /* .about-content {
        display: flex;
    } */

    .img-about {
        width: 256px;
        height: 256px;
    }}


@media screen and (min-width: 992px) {

.title-about {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: -100px;
}

.text-about {
    width: 652px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8;
    color: #8F95A5;
    margin-bottom: 30px;
    margin-right: 146px;
}

.about-desc {
    display: flex;
    gap: 150px;
    text-align: center;
    padding-left: 50px;
}

.about-text {
    width: 92px;
    margin-top: 6px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #8F95A5;
}

.about-reverse {
    display: flex;
    align-items: flex-end;
}}

/* .about-content {
    display: flex;
} */

/* ===================== /About Us ================== */

/* ==================== Pricing ==================== */

@media screen and (max-width: 574px) {

.pricing {
    padding-top: 84px;
}

.img-pricing {
    width: 100%;
    height: auto;
}

.title-pricing {
    margin-top: 39px;
    margin-bottom: 17px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.55;
    color: #263238;
}

.text-pricing {
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: #8F95A5;
}

.price {
    margin-top: 33px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    width: 170px;
    height: 37px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    background-color: #EEEEEE;
}

.month {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #546269;
}

.list-pricing {
    display: flex;
    flex-direction: column;
}

.price-month {
    display: flex;
    justify-content: center;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {

.pricing {
        padding-top: 142px;
        margin-bottom: 54px;
    }

        .img-pricing {
            width: 100%;
            height: auto;
        }
    
            .title-pricing {
                margin-top: 42px;
                margin-bottom: 23px;
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                line-height: 1.16;
                color: #263238;
            }
    
                .text-pricing {
                    text-align: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #8F95A5;
                }
    
                    .price {
                        margin-top: 31px;
                        margin-bottom: 71px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        padding: 5px 0;
                        padding-left: 12px;
                        width: 205px;
                        height: 45px;
                        border-radius: 5px;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 1.5;
                        background-color: #EEEEEE;
                    }
    
                        .month {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 1.5;
                            color: #546269;
                        }
    
                            .list-pricing {
                                display: flex;
                                flex-direction: column;
                            }

                            .price-month {
                                display: flex;
                                justify-content: center;
                            }

}


@media screen and (min-width: 768px) and (max-width: 991px) {

.pricing {
        padding-top: 125px;
        padding-bottom: 140px;
    }

    .list-pricing {
        display: flex;
        gap: 30px;
    }

    .img-pricing {
        width: 185px;
        height: auto;
    }

    .title-pricing {
        margin-top: 20px;
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.55;
        color: #263238;
    }

    .text-pricing {
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #8F95A5;
    }

    .price {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 4px;
        width: 185px;
        height: 35px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.5;
        background-color: #EEEEEE;
    }

    .month {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #546269;
    }}


@media screen and (min-width: 992px) {

.pricing {
    padding-top: 204px;
}

.list-pricing {
    display: flex;
    gap: 30px;
}

.title-pricing {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    color: #263238;
}

.text-pricing {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #8F95A5;
}

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 4px;
    width: 260px;
    height: 45px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    background-color: #EEEEEE;
}

.month {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #546269;
}

.month-price {
    margin-top: -30px;
}}

/* ==================== /Pricing ==================== */

/* ==================== Contact Us ================== */

@media screen and (max-width: 574px) {

.contact-us {
    padding-bottom: 55px;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-callback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 55px;
}

.svg-img {
    width: 253px;
    height: 228px;
}

.svg-img1 {
    display: none;
}

.title-contacts {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    color: #000000;
    margin-bottom: 38px;
}

.text-contacts {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #8F95A5;
    margin-top: 38px;
}

.form-input-footer:focus,
.form-input-footer:hover {
    outline: none;
    border: 1px solid #263238;

}

.form-input-footer {
    width: 291px;
    height: 50px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #8F95A5;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    padding: 16px 0;
    padding-left: 26px;
    margin-bottom: 17px;
}

.button-form:focus,
.button-form:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.button-form {
    width: 290px;
    height: 60px;
    padding: 20px 109px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {

.contact-us {
        padding-bottom: 144px;
    }

        .contacts-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .form-callback {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 60px;
            }

                .svg-img {
                    width: 358px;
                    height: 322px;
                }

                    .svg-img1 {
                        display: none;
                    }

                    .title-contacts {
                        text-align: center;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 2.66;
                        color: #000000;
                        margin-bottom: 83px;
                    }

                        .text-contacts {
                            text-align: center;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 1.5;
                            color: #8F95A5;
                            margin-top: 34px;
                        }

                            .form-input-footer:focus,
                            .form-input-footer:hover {
                                outline: none;
                                border: 1px solid #263238;
                            }

                                .form-input-footer {
                                    width: 316px;
                                    height: 60px;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 1.5;
                                    color: #8F95A5;
                                    border: 1px solid #8F95A5;
                                    border-radius: 10px;
                                    padding: 16px 0;
                                    padding-left: 25px;
                                }

                                    .button-form:focus,
                                    .button-form:hover {
                                        color: #263238;
                                        background-color: #FFFFFF;
                                    }

                                        .button-form {
                                            margin-left: auto;
                                            width: 190px;
                                            height: 60px;
                                            padding: 18px 56px;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 1.5;
                                            text-align: center;
                                            color: #FFFFFF;
                                            background-color: #263238;
                                            border: 2px solid #263238;
                                            border-radius: 10px;
                                            cursor: pointer;
                                        }


}


@media screen and (min-width: 768px) and (max-width: 991px) {

.contact-us {
        padding-bottom: 194px;
    }

    .contact-us {
        margin: 0 auto;
        width: 768px;
        display: flex;
    }

    .contacts-content {
        display: flex;
        flex-direction: column;
    }

    .svg-img1 {
        width: 100%;
    }

    .svg-img {
        display: none;
    }

    .form-callback {
        display: flex;
        margin-top: 30px;
    }

    /* .form-desc {
        margin-left: 145px;
    } */

    .title-contacts {
        font-weight: 600;
        font-size: 36px;
        line-height: 2.66;
        color: #000000;
        /* margin-bottom: 60px; */
    }

    .text-contacts {
        /* width: 654px; */
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #8F95A5;
    }

    .form-input-footer:focus,
    .form-input-footer:hover {
        outline: none;
        border: 1px solid #263238;

    }

    .form-input-footer {
        width: 283px;
        height: 50px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        color: #8F95A5;
        border: 1px solid #8F95A5;
        border-radius: 10px;
        padding-left: 24px;
        margin-right: 6px;
    }

    .button-form:focus,
    .button-form:hover {
        color: #263238;
        background-color: #FFFFFF;
    }

    .button-form {
        width: 145px;
        height: 50px;
        padding: 15px 40px;
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
        color: #FFFFFF;
        background-color: #263238;
        border: 2px solid #263238;
        border-radius: 10px;
        cursor: pointer;
    }}


@media screen and (min-width: 992px) {

.contact-us {
    margin: 0 auto;
    width: 1338px;
    height: auto;
    display: flex;
    padding-top: 180px;
    padding-bottom: 130px;
}

.svg-img {
    display: none;
}

.svg-img1 {
    width: 625px;
    height: 430px;
}

.contacts-content {
    margin-left: 145px;
    display: flex;
    flex-direction: column;
}

.form-callback {
    display: flex;
    margin-top: 30px;
}

.title-contacts {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    color: #000000;
    margin-bottom: 60px;
}

.text-contacts {
    width: 654px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #8F95A5;
}

.form-input-footer:focus,
.form-input-footer:hover {
    outline: none;
    border: 1px solid #263238;

}

.form-input-footer {
    width: 425px;
    height: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    color: #8F95A5;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    padding-left: 30px;
    margin-right: 30px;
}

.button-form:focus,
.button-form:hover {
    color: #263238;
    background-color: #FFFFFF;
}

.button-form {
    width: 312px;
    height: 70px;
    padding: 20px 56px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
    background-color: #263238;
    border: 2px solid #263238;
    border-radius: 10px;
    cursor: pointer;
}}


/* ==================== /Contact Us ================== */

/* ==================== Footer ==================== */

@media screen and (max-width: 574px) {

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content::before {
    display: flex;
    content: "";
    width: 290px;
    height: 1px;
    background-color: #C4C4C4;
    margin-left: -15px;
    margin-bottom: 26px;
}

.footer-content {
    padding-bottom: 48px;
}

.logo-footer {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
}

.footerbox-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

}

.footer-list {
    margin-top: 15px;
    width: 285px;
    display: flex;
}

.link-footer:focus,
.link-footer:hover {
    color: #263238;
}

.link-footer {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.54;
    color: #8F95A5;
}}


@media screen and (min-width: 575px) and (max-width: 767px) {

.footer-content::before {
        display: flex;
        content: "";
        width: 510px;
        height: 1px;
        background-color: #C4C4C4;
        margin-bottom: 26px;
    }

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 39px;
        }

            .logo-footer {
                margin-right: 148px;
                font-weight: 400;
                font-size: 30px;
                line-height: 1.5;
                color: rgba(0, 0, 0, 1);
            }

                .footerbox-content {
                    display: flex;
                    align-items: center;
                }

                    .footer-list {
                        display: flex;
                    }

                        .link-footer:focus,
                        .link-footer:hover {
                            color: #263238;
                        }

                            .link-footer {
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 1.5;
                                color: #8F95A5;
                            }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

.footer-content::before {
        display: flex;
        content: "";
        width: 690px;
        height: 1px;
        background-color: #C4C4C4;
        margin-bottom: 26px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 39px;
    }

    .logo-footer {
        margin-right: 330px;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 1);
    }

    .footerbox-content {
        display: flex;
        align-items: center;
    }

    .footer-list {
        display: flex;
    }

    .link-footer:focus,
    .link-footer:hover {
        color: #263238;
    }

    .link-footer {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.5;
        color: #8F95A5;
    }}


@media screen and (min-width: 992px) {

.footer-content::before {
    display: flex;
    content: "";
    width: 1318px;
    height: 1px;
    background-color: #C4C4C4;
    margin-bottom: 22px;   
}

.footerbox-content {
    display: flex;
    align-items: center;
    padding-bottom: 77px;
}
.logo-footer {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 1);
}

.footer-list {
    display: flex;
    gap: 80px;
    margin-left: auto;
}

.link-footer:focus,
.link-footer:hover {
    color: #263238;
}
.link-footer {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #8F95A5;
}

.point {
    display: none;
}}

/* &#x2022 - point */

/* ==================== /Footer ==================== */

/* ===================== MOBILE MENU ====================== */

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #E5E5E5;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 36px;
}

.mobile-menu-container::after {
    display: flex;
    content: "";
    height: 1px;
    background-color: #C4C4C4;
    margin-top: 20px;
    margin-bottom: 35px;

}

.mobile-menu-close {
    position: absolute;
    top: 45px;
    right: 35px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.nav-mobile {
    padding-left: 35px;
    width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.nav-link-mobile {
    font-weight: 500;
    font-size: 22px;
    line-height: 2.95;
    color: #263238;
}

.btn-mobile {
    width: 290px;
    height: 65px;
    padding: 18px 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    background-color: #E5E5E5;
    border: 2px solid #263238;
    border-radius: 5px;
}

.mob-btn {
    display: flex;
    justify-content: center;
    padding-left: 40px;
} 

/* ===================== /MOBILE MENU ====================== */